<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parameters">
	<test name="Marketing Leads Creation with listner">
		<parameter name="browser" value="chromebrowser"></parameter>
		<parameter name="username" value="admin"></parameter>
		<parameter name="password" value="admin"></parameter>
		<parameter name="url" value="http:/localhost:8888"></parameter>
		<parameter name="colortheme" value="woodspice"></parameter>
		<classes>
			<class
				name="com.eva.marketing.submodule.testcases.Marketing_Campaings">
			</class>
		</classes>
	</test>
</suite>

